.img-upload{
  height: 300px;
  border: 4px dashed rgb(77, 77, 77);
  border-radius: 20px;
}

.img-upload p{
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  color: gray;
}